/* colors */
$primary-color: #0E4BF1;
$panel-color: #FFF;
$text-color: #000;
$black-light-color: #707070;
$border-color: #e6e5e5;
$toggle-color: #DDD;
$box1-color: #4DA3FF;
$box2-color: #FFE6AC;
$box3-color: #E7D1FC;
$title-icon-color: #fff;

// background-color
$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;

// menubar-color
$primary-m: #695CFE;
$primary-light-m: #F6F5FF;
$toggle-color: #DDD;

// text-color
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;
