.data-grid {
  height: 650px;
  width: 100%;
  background-color: #ffffff;
}

.MuiStack-root {
  margin-bottom: 20px;
  align-items: center;
}

.MuiButtonBase-root-MuiButton-root {
  margin-left: 500px;
}